* {
    box-sizing: border-box;
}

#container {
    padding-top: 10px;
}

.page_title {
    font-family: Garamond;
    font-size: 3em;
    text-align: center;
    color: white;
    background-color: black;
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 10px;
}

.count {
    text-align: center;
    color: white;
}


#start_paragraph {
    text-align: center;
    font-size: 26px;
    color: white;
}

#words_text {
    font-size: 20px;
    margin: 0 auto;
    display: block;
    background-color: white;
    border: 3px solid black;
    width: 800px;
    height: 350px;
}

#start_button {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-family: Garamond;
}

body {
    background-color: #39cf07;
    min-height: 100vh;
}

